<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <h1>
        <center><img src="{{ site.baseurl }}public/me_v2.png" width="300" height="300" class="inline"/></center>
        <font size="20"><a href="{{ site.baseurl }}">
			    Yu-Tai Lin
        </a></font>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
		<!--<a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>-->

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="mailto:ytlin1993@gmail.com">Email</a>
      <a class="sidebar-nav-item" href="https://scholar.google.com/citations?user=tTRjd5AAAAAJ&hl=en">Google Scholar</a>
      <a class="sidebar-nav-item" href="https://github.com/yutailin1993">GitHub</a>
      <a class="sidebar-nav-item" href="https://www.linkedin.com/in/yu-tai-lin-2ba09514b">LinkedIn</a>
      <a class="sidebar-nav-item" href="https://yutailin1993.github.io/CV/Yu-Tai_CV.pdf">CV</a>
	  <span class="sidebar-nav-item"><!--Currently v{{ site.version }}--></span>
    </nav>

	<p><!--&copy; {{ site.time | date: '%Y' }}. All rights reserved.--></p>
  </div>
</div>
